{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  {% block meta %}
  <!-- Title Tag -->
  {% endblock meta %}
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^1/dist/tailwind.min.css" rel="stylesheet">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'main/images/logo.svg' %}">

</head>

<body>
  <!-- NavBar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav class="py-6 pr-12 flex md:flex-row flex-col md:items-center">
    <button onclick="toggleMenu()" class="md:hidden self-end px-3 py-2 border rounded border-black focus:outline-none focus:shadow-outline">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
    <div class="md:flex items-center gap-x-4 pl-8" id="mobileMenu">
      <a href="{% url 'main:home' %}" class="block md:inline-block md:mt-0">Home</a>
      <a href="" class="block mt-4 md:inline-block md:mt-0">Statistik</a>
      <a href="{% url 'TK1.apps.nadia:lokasiTest' %}" class="block mt-4 md:inline-block md:mt-0">Rapid Test</a>
      <a href="" class="block mt-4 md:inline-block md:mt-0">Assesment</a>
      <div id="user" class="mt-4 block md:mt-0 mr-4 flex gap-x-2 justify-center">
        {% if user.is_authenticated %}
          <p>Hello {{ user.username }}!</p>
          <b>/</b>
          <a href="{% url 'teofanus:logout_account' %}">Logout</a>
        {% else %}
          <a href="{% url 'teofanus:register' %}">Register</a>
          <b>/</b>
          <a href="{% url 'teofanus:login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <script>
    function toggleMenu(){
      let mobileMenu = document.getElementById('mobileMenu');
      if (mobileMenu.classList.contains('hidden')) {
        mobileMenu.classList.remove('hidden')
      } else {
        mobileMenu.classList.add('hidden');
      }
    }
  </script>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <p>Created with 💖 By kelompok B14</p>
  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
